<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>About Us - DE's</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static',filename='assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static',filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static',filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static',filename='assets/css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Kelly - v4.9.0
  * Template URL: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container-fluid d-flex justify-content-between align-items-center">

            <h1 class="logo me-auto me-lg-0"><a href="/">DE's</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a class="active" href="/about">About</a></li>
                    <li><a href="#">Resume</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/employees">Employees</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <div class="header-social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            </div>

        </div>

    </header><!-- End Header -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>About Us</h2>
                    <p>About Us is talking about us, about cats and about employees.</p>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <img src="{{ url_for('static',filename='assets/img/about.png') }}" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 pt-4 pt-lg-0 content">
                        <h3>Cat Illustrator &amp; Cat Adopter</h3>
                        <p class="fst-italic">
                            Hahrow, I am Dominic Tan, aka DolphinBoy.
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-rounded-right"></i> <strong>Birthday:</strong> 26 March 2001</li>
                                    <li><i class="bi bi-rounded-right"></i> <strong>Website:</strong> www.youtube.com/watch?v=EXjq6Bau72k</li>
                                    <li><i class="bi bi-rounded-right"></i> <strong>Phone:</strong> +60 111 0819239</li>
                                    <li><i class="bi bi-rounded-right"></i> <strong>City:</strong> Kota Tinggi, Johor</li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-rounded-right"></i> <strong>Age:</strong> 21</li>
                                    <li><i class="bi bi-rounded-right"></i> <strong>Degree:</strong> Master</li>
                                    <li><i class="bi bi-rounded-right"></i> <strong>Email:</strong> dominictss-wm19@student.tarc.edy.my</li>
                                    <li><i class="bi bi-rounded-right"></i> <strong>Status:</strong> Available</li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            I love Kitty Cats but I love Cloud Computing more than cats. It is because my tutor is very great and handsome which is Mr. Low Choon Keat. I hope he can see this and add more marks to my assignment.
                        </p>
                    </div>
                </div>
                <br />
                <br />
                <br />
                <div class="row">
                    <div class="col-lg-4">
                        <img src="{{ url_for('static',filename='assets/img/about.jpg') }}" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 pt-4 pt-lg-0 content">
                        <h3>Cat Ancestor &amp; Cat Hater</h3>
                        <p class="fst-italic">
                            Halo, I am Edward Leong, aka Edurdo.
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-rounded-right"></i> <strong>Birthday:</strong> 31 October 2001</li>
                                    <li><i class="bi bi-rounded-right"></i> <strong>Website:</strong> www.youtube.com/watch?v=dQw4w9WgXcQ</li>
                                    <li><i class="bi bi-rounded-right"></i> <strong>Phone:</strong> +60 18 369 1383</li>
                                    <li><i class="bi bi-rounded-right"></i> <strong>City:</strong> Sri Rampai, Setapak</li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-rounded-right"></i> <strong>Age:</strong> 21</li>
                                    <li><i class="bi bi-rounded-right"></i> <strong>Degree:</strong> Failed</li>
                                    <li><i class="bi bi-rounded-right"></i> <strong>Email:</strong> edwardljx-wm19@student.tarc.edy.my</li>
                                    <li><i class="bi bi-rounded-right"></i> <strong>Status:</strong> Not Available</li>
                                </ul>
                            </div>
                        </div>
                        <p>
                            Once upon a time, from a galaxy far far away. I was borned and i was raised in a planet known as Earth. 21 years after I was borned, I love Cloud Computing. 
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Skills Section ======= -->
        <section id="skills" class="skills">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Skills</h2>
                    <p>If you think we are really good at these skills. Then... I love You.</p>
                </div>

                <div class="row skills-content">

                    <div class="col-lg-6">

                        <div class="progress">
                            <span class="skill">HTML <i class="val">100%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">CSS <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Feed Cats <i class="val">75%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6">

                        <div class="progress">
                            <span class="skill">Valorant <i class="val">100%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Java <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Train Cats <i class="val">55%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section><!-- End Skills Section -->
        <!-- ======= Facts Section ======= -->
        <section id="facts" class="facts">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Facts</h2>
                    <p>Fact cannot be fake because fact is not fake.</p>
                </div>

                <div class="row counters">

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="326" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Clients</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="920" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Projects</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="1031" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Hours Of Support</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-purecounter-start="0" data-purecounter-end="520" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Hard Workers</p>
                    </div>

                </div>

            </div>
        </section><!-- End Facts Section -->
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Catimonials</h2>
                    <p>This is our testimonials that is proved by these Special Cats.</p>
                </div>

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="{{ url_for('static',filename='assets/img/testimonials/testimonials-1.png') }}" class="testimonial-img" alt="">
                                <h3>Ninja Meow</h3>
                                <h4>Invisible &amp; Hide under the Staircase</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Meow..Meomeoow...Meeowmeow meow.. Meooooowww... Meow Meow meow.. Meow meowmeow meeemmeowww...
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="{{ url_for('static',filename='assets/img/testimonials/testimonials-2.png') }}" class="testimonial-img" alt="">
                                <h3>Pengsan Meow</h3>
                                <h4>Sleeping...</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Meooooowww... Meow Meow meow.. Meow meowmeow meeemmeowww...Meow..Meomeoow...Meeowmeow meow..
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="{{ url_for('static',filename='assets/img/testimonials/testimonials-3.png') }}" class="testimonial-img" alt="">
                                <h3>Pharoah Meow</h3>
                                <h4>Pyramid is its House</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Meow meowmeow meeemmeowww...Meow..Meomeoow...Meeowmeow meow.. Meooooowww... Meow Meow meow..
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="{{ url_for('static',filename='assets/img/testimonials/testimonials-4.png') }}" class="testimonial-img" alt="">
                                <h3>Wizard Meow</h3>
                                <h4>Have magic to make cats come</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Meow Meow meow.. Meow..Meomeoow...Meeowmeow meow.. Meooooowww... Meow meowmeow meeemmeowww... 
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="{{ url_for('static',filename='assets/img/testimonials/testimonials-5.png') }}" class="testimonial-img" alt="">
                                <h3>Chef Meow</h3>
                                <h4>A chef but likes to make Ice-Cream</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Meooowwwwww!!!! Meow Meow meow.. Meow..Meomeoow...Meow meowmeow meeemmeowww... Meeowmeow meow.. Meooooowww...
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div><!-- End testimonial item -->

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Testimonials Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>DE's</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End  Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static',filename='assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
    <script src="{{ url_for('static',filename='assets/vendor/php-email-form/validate.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>

</body>

</html>